body {
  font-family: Ariel, sans-serif;
  color: #333;
  background-color: #FF00FF;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #60066;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  color:white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

main image {
  max-width: 100%;
  height: auto;
  display: block;
  margin:20 0;
}

footer {
  background-color: #CC00CC;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

p {
  font-size: 1.1em;
}

a {
  color: #4169E1;
  text-decoration: none;
}

img {
  border: 5px solid #CC00CC;
  border-radius: 10px;

}

main a[href^="malito:"] {
  color: #000000;
  font-weight: bold;
}

  
